<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FileBound Open 2017</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">FileBound Open
                <script type="text/javascript">document.write(new Date().getFullYear());</script></a>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/scripts")
    <script src="~/signalr/hubs"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
